*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
}

.box{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: red;
    margin: 100px 50px 30px 10px;
}
.box1{
    display: inline-block;
    width: 300px;
    height: 300px;
    background-color: red;

}
.wrapper{
    display: flex;
    /* justify-content:end ; */
    justify-content:space-around ;

    gap: 20px;
    margin: 20px;
}
.card{
    
    background-color: black;
    width: 200px;
    height: 200px;
 
   
}
.card:nth-child(2){
    background-color: red;
}