.container {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
}

.card {
  width: 240px;
  height: 240px;
  background-color: blueviolet;
  border: 1px solid black;
  border-radius: 8px;
  padding: 8px;
  display: flex;
  gap: 8px;
}

span {
  width: 50px;
  height: 50px;
  background-color: coral;
  border: 1px solid black;
  border-radius: 8px;
  display: block;
}

.card:nth-child(2) {
  flex-direction: column;
}

.card:nth-child(3) {
  flex-wrap: wrap;
  gap: 6px;
}

.card:nth-child(4) {
  justify-content: space-between;
}

.card:nth-child(6) {
  justify-content: end;
}

.card:nth-child(7) {
  justify-content: center;
}

.card:nth-child(8) {
  justify-content: space-between;
}

.card:nth-child(10) {
  align-items: end;
}

.card:nth-child(11) {
  align-items: center;
}

.card:nth-child(12) {
  justify-content: space-evenly;
}